.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 15px;
  padding: 15px;
}

.footer-col {
  display: flex;
  align-items: center;
}

.footer-col:first-child {
  justify-content: flex-start;
}

.footer-center {
  justify-content: center;
}

.footer-right {
  justify-content: flex-end;
}

.footer .menu {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}