$color-primary: #eec53f;
$color-secondary: #ffe79a;
$color-tertiary: #bfc0d1;
$color-text: #fafbff;
$color-bg: #000000;
$font-cinzel: "Cinzel Decorative", serif;
$font-garamond: "EB Garamond", serif;
$max-width: 1200px;
$bp-sm: 768px;
$bp-md: 640px;
$bp-xs: 480px;
$bp-xxs: 360px;